<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="pagination" th:fragment="paging(url)" th:if="${data.totalPages > 1}">
    <a th:href="@{${url}(page=${data.number - 1}, query=${query})}" class="page-link" th:classappend="${data.first} ? 'disabled'">Назад</a>
    <span th:each="i : ${#numbers.sequence(0, data.totalPages - 1)}">
        <a th:href="@{${url}(page=${i}, query=${query})}" th:text="${i + 1}" class="page-link" th:classappend="${data.number == i} ? 'active'"></a>
    </span>
    <a th:href="@{${url}(page=${data.number + 1}, query=${query})}" class="page-link" th:classappend="${data.last} ? 'disabled'">Вперед</a>
</div>
</body>
</html>